<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>addressselect</title>
	<meta http-equiv="Content-Type"
		content="text/html; charset=UTF-8" />
</head>
<body>

<p>住所選択</p>

<div th:each = "e : ${addresses}">
		<form method="post" th:action="@{'/addressselect/' + ${e.getAddressid()} }">
			<div th:text="${e.getHostname()}" style="font-weight:bold"></div>
			<div>〒<span th:text="${e.getPostcode()}"></span></div>
			<div th:text="${e.getAddress()}"></div>
			<input type="submit" value="この住所を使う" />
			<hr>	
		</form>
</div>

<form method="post" action="/EC/addressselect" th:object="${address}">
	<input type="hidden" name="userid" th:value="${userid}"/>
	<table>
		<tr>
			<td><label for="hostname">氏名</label></td>
			<td>
				<input type="text" name="hostname" th:field="*{hostname}"/>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<div th:if="${#fields.hasErrors('hostname')}" th:each="e : ${#fields.detailedErrors('hostname')}">
					<div th:text="${e.message}" style="color : red"></div>
				</div>
			</td>
		</tr>
		<tr>
			<td><label for="postcode">郵便番号</label></td>
			<td>
				<input type="text" name="postcode" th:field="*{postcode}"/>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<div th:if="${#fields.hasErrors('postcode')}" th:each="e : ${#fields.detailedErrors('postcode')}">
					<div th:text="${e.message}" style="color : red"></div>
				</div>
			</td>
		</tr>
		<tr>
			<td><label for="address">住所</label></td>
			<td>
				<input type="text" name="address" th:field="*{address}"/>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<div th:if="${#fields.hasErrors('address')}" th:each="e : ${#fields.detailedErrors('address')}">
					<div th:text="${e.message}" style="color : red"></div>
				</div>
			</td>
		</tr>
		<tr>
			<td><label for="tel">電話番号</label></td>
			<td>
				<input type="text" name="tel" th:field="*{tel}"/>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<div th:if="${#fields.hasErrors('tel')}" th:each="e : ${#fields.detailedErrors('tel')}">
					<div th:text="${e.message}" style="color : red"></div>
				</div>
			</td>
		</tr>
		
		<tr><td></td><td><input type="submit" value="登録" /></td></tr>
	</table>

</form>


</body>
</html>