<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>cart</title>
	<meta http-equiv="Content-Type"
		content="text/html; charset=UTF-8" />
	<style>
		img {
			width: 100px;
			height: 100px;
		}
	</style>
</head>
<body>

<div th:text="${msg}"></div>

<form method="post" action="/EC/itemdetail" th:if="${check}">
	<div th:each="e : ${items}">
		<img th:src="@{ ${imgPath} + ${e.getItem().getItemid()} + '.jpg' }"/>
		<div th:text="${e.getItem().getItemname()}"></div>
		<div><span th:text="${e.getItem().getIncludingtax()}"></span>円</div>
		<div>個数: <span th:text="${e.getQuantity()}"></span> 個</div>
		<hr>
	</div>
	<div th:text="${total}"></div>
	<input type="submit" value="最終確認へ"/>
</form>

</body>
</html>