<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>myitemdetail</title>
	<meta http-equiv="Content-Type"
		content="text/html; charset=UTF-8" />
	<style>
		img {
			width: 400px;
			height: 400px;
		}
	</style>
</head>
<body>

<div th:text="${msg}"></div>

<div th:object="${item}">
<form method="post" th:action="@{ '/myitemdetail/' + ${item.getItemid()} }">
	<div th:object="${item}">
		<img th:src="@{ ${imgPath} + ${item.getItemid()} + '.jpg' }"/>
		<div><input type="text" name="itemname" th:value="${item.getItemname()}" th:field="*{itemname}"></div>
		<div th:if="${#fields.hasErrors('itemname')}" th:each="e : ${#fields.detailedErrors('itemname')}">
					<div th:text="${e.message}" style="color : red"></div>
		</div>
		
		<select th:field="*{itemattribute}" name="itemattribute" id="attributes">
			<option value="0">カテゴリーを選択してください</option>
			<option th:each="attribute : ${attributes}" th:value="${attribute.getItemattributeno()}" th:text="${attribute.getItemattributenm()}"></option>
		</select>
		<div th:if="${#fields.hasErrors('itemattribute')}" th:each="e : ${#fields.detailedErrors('itemattribute')}">
					<div th:text="${e.message}" style="color : red"></div>
		</div>
		
		<div><input type="number" name="price" th:value="${item.getPrice()}" th:field="*{price}"/>円</div>
		<div th:if="${#fields.hasErrors('price')}" th:each="e : ${#fields.detailedErrors('price')}">
					<div th:text="${e.message}" style="color : red"></div>
		</div>
		<div>在庫 : <input type="number" name="stock" th:value="${item.getStock()}" th:field="*{stock}"/>個</div>
		<div th:if="${#fields.hasErrors('stock')}" th:each="e : ${#fields.detailedErrors('stock')}">
					<div th:text="${e.message}" style="color : red"></div>
		</div>
 	</div>
	<input type="submit" value="商品情報を登録"/>
</form>
</div>

</body>
</html>